<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@400;900&family=Open+Sans&family=Poppins:wght@100;200;400;500;600;700&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a9d5d67dae.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="nav-main-div">
            <div class="nav-sub-div">
                <h1 class="nav-h1">To Do List</h1>
            </div>
            <div class="nav-sub-div">
                <button>Home</button>
                <button>Log in</button>
                <button>Contact</button>
            </div>
        </div>
    </nav>
    <div class="main-div">
        <div class="sub-div">
            <div class="date-div">
                <h1><%= kindOfDay %></h1>
            </div>
            <hr>
        <div class="sub-div">
            <ul>
                <%for(var i=0; i<newTasks.length; i++){%>
                    <li><%=newTasks[i]%></li>
                <%}%>
            </ul>
        </div>
        <div class="form-div">
            <form action="/" method="post">
                <input type="text" name="task" placeholder="eg. Do home work" required>
                <button type="submit" name="button">Add Task</button>
            </form>
        </div>
        </div>
    </div>

    <h3><a href="https://musharraf504.github.io/my_portfolio/" target="_blank">Made by Musharraf. <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h3>
</body>
</html>