*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins";
    background-color: #e0e0e0;
}

nav div{
    display: flex;
    justify-content: space-between;
    
}
nav div div button{
    font-size: 1.25rem;
    padding: 10px 25px;
    border-radius: 25px;
}

.nav-h1{
    font-size: 2.5rem;
}
.nav-main-div{
    
    padding: 20px 100px;
    /* background-color: #d3d3d3; */
}

.nav-sub-div{
    align-items: center;
    /* background-color: #d3d3d3; */
}

.main-div{
    display: flex;
    justify-content: center;
    margin: 100px auto;
    /* margin-left: 50%; */
    padding: 50px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
    width: 25%;
}

.date-div{
    background-color: rgb(182, 255, 227);
}

.sub-div{
    align-items: center;
}

.items{
    display: flex;
    align-items: center;
}

input:checked+li {
    text-decoration: line-through;
    /* background-color: rgb(77, 252, 179); */
}
input[type="checkbox"] {

}

h1{
    color: #334e8a;
    /* background-color: #d3d3d3; */
}
h3{
    text-align: center;
    color: #334e8a;
    /* margin: 50px; */
}
h3 a{
    color: #334e8a;
    text-decoration: none;
}

li{
    list-style: none;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    background-color: #d3d3d3;
    border-radius: 20px;
    color: #334e8a;
}
input{
    border: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #334e8a;
}

button{
    border: 0;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #334e8a;
    color: white;
    transition: 0.2s;
    font-weight: 600;
}
button:hover{
    cursor: pointer;
    background-color: #5966b3;
}

hr{
    border: 0;
    height: 1px;
    margin: 25px 50px;
    background-color: rgb(209, 209, 209);
}
::placeholder{
    color: #334e8a;
}